{{- with site.Params.giscus }}
{{- if .enable }}
<div class="comments">
  <script src="https://giscus.app/client.js"
    data-repo="{{ .repo }}"
    data-repo-id="{{ .repoID }}"
    data-category="{{ .category }}"
    data-category-id="{{ .categoryID }}"
    data-mapping="{{ .mapping | default "pathname" }}"
    data-strict="0"
    data-reactions-enabled="{{ .reactionsEnabled | default "1" }}"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="{{ .theme | default "light" }}"
    data-lang="{{ .lang | default site.Language.Lang }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
{{- end }}
{{- end }}
